@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  .carousel img{
    height: 48rem;
  }
}

html {
  background-color: #B9BADC;
}

/* div {
  margin-top: 50px;
} */

.hero {
  background-color: #676EDB;
  border-radius: 25px;
  padding: 30px;
}

.footer {
  background-color: rgb(6, 6, 16);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
